@model IEnumerable<CathedralLibraryDomain.Model.Publication>

@{
    ViewData["Title"] = "Видання";
}

<h1>Видання</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Додати нове видання</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TitleSortParm">
                    @Html.DisplayNameFor(model => model.Title)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annotation)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TypeSortParm">
                    @Html.DisplayNameFor(model => model.PublicationTypeId)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.YearSortParm">
                    @Html.DisplayNameFor(model => model.Year)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annotation)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicationType.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                    <a asp-action="Copies" asp-route-id="@item.Id">Copies</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("admin"))
                    {
                        <span> | </span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <span> | </span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
